<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="./assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Irish Life Ionic Demo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This App compiles in 5 different platformms and it is a PWA. Click Tabs to Navigate</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
    <p></p>
    <google-login></google-login>
    <p></p>
    </ion-card>
    
   
</ion-content>
